@tailwind base;
@tailwind components;
@tailwind utilities;

/* Stile base che ti ho dato prima */
body {
  @apply bg-gray-50 text-slate-800;
}
input, textarea {
  @apply border border-gray-300 rounded-none px-4 py-3 focus:ring-2 focus:ring-brand-600 focus:outline-none transition-all;
}
button {
  @apply rounded-none font-bold uppercase tracking-wider transition-all;
}